<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="seConnecter()">
    <ion-list class="ion-margin">
      <ion-card>
        <ion-input type="number" name="numero" placeholder="Entrer votre numero" [(ngModel)]="numero"></ion-input>
      </ion-card><br>
    </ion-list>
    <ion-button type="submit" expand="full" class="ion-margin" color="success">Se
      connecter</ion-button>
  </form>

  <ion-button expand="full" class="ion-margin" href="/register">Creer un compte</ion-button>

</ion-content>